
body {
font-family:'Montserrat', sans-serif;
background-color: #ffffff;
margin: 0;
text-align: center;
}

/** font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    Dois comandos de fontes para nao esquecer :) 
**/

h1 {
   color: #66bfbf;
   margin: 50px auto 0 auto;
   font-family: 'Merriweather', serif;
   font-size: 312.5%; 
}

/** Para saber o tamanho da fonte em '%' e so dividir a quantidade de 'px' que se deseja por /16
EX: 90px/16= 3,125 = '312.5%' esse eo valor em '%' para se colocar
16px = 100% = 1em**/

h2 {
   font-weight: bold;
   color:#66bfbf;
   font-family: 'Montserrat', sans-serif;
   font-size: 150%;
   padding-bottom: 10px;
}

h3 {
   font-weight: bold;
   color: #66bfbf;
   font-family: 'Montserrat', sans-serif;
}

hr {
   border-style: none;
   border-top-style: none;
   border-color: grey;
   border-width: 5px;
   width: 20%;
}

p {
    margin: 0;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

a {
   color: #66bfbf;
   font-family: 'Montserrat', sans-serif;
   margin: 10px 20px;
   text-decoration: none;
}

a:hover {
   color: #eaf6f6;
}

.top {
    background-color: #ffffff;
    position: relative;
    padding-top: 100px;
}

.into {
width: 30%;
margin: auto;
}

.b1 {
     background-color: #ffffff;
     line-height: 1.5;
     text-align: center;
     margin: 100px auto 100px auto;
     
 }

.b2 { 
    background-color: #367994;
    padding: 50px 0 20px;
    
 }

.c1 {
     position: absolute;
     right: 300px;
     top: 50px;
 }

.c2 {
    position: absolute;
    left: 300px;
    bottom: 300px;
 }

.mont {
    position: relative;
 }

.mecircle {
    position: relative;
    width: 20%;
 }

.skill-row {
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
 }

.msn {
   width: 30%;
   margin: 30px auto 60px;
}

.prop1 {
    position: static;
    width: 20%;
    float: left;
    margin-right: 30px;
 }

.prop2 {
   position: static;
   width: 20%;
   float: right;
   margin-left: 30px;
}

.copyright {
   color:#66bfbf;
   font-size: 0.75rem;
   padding: 20px 0;
}

.btn {
   background: #11cdd4;
   background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
   background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
   background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
   background-image: -o-linear-gradient(top, #11cdd4, #11999e);
   background-image: linear-gradient(to bottom, #11cdd4, #11999e);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   text-shadow: 1px 1px 3px #523c52;
   font-family: 'Montserrat', sans-serif;
   color: #66bfbf;
   font-size: 23px;
   padding: 10px 20px 10px 15px;
   text-decoration: none;
 }
 
 .btn:hover {
   background: #30e3cb;
   background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
   text-decoration: none;
 }

 .gthub {
    position: relative;
    top: 9px;
    right: 5px;
    width: 1%;
    margin: 5px 0 5px 0;
 }

 .footer-link {
    position: static;
 }